<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @if (Session["UserName"] != null)
                            {
                                if (Session["UserType"].Equals("Admin"))
                                {
                                    <li>@Html.ActionLink("Add Product", "AddProduct", "Admin")</li>
                                    <li>@Html.ActionLink("Product List", "ProductList", "Admin")</li>
                                    <li>@Html.ActionLink("Upload Products", "UploadData", "Admin")</li>
                                    <li>@Html.ActionLink("View UserData", "UserDataTable", "Admin")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Product List", "ProductList", "Users")</li>
                                }


                                <li style=" color:white">@Html.ActionLink("View Cart(" + Session["alreadyInCartCount"] + ")", "MyCart")</li>
                                <li>@Html.ActionLink("Logout", "Logout")</li>

                            }
                            else
                            {
                                <li>@Html.ActionLink("Sign Up", "Register", "Users")</li>
                                <li>@Html.ActionLink("Sign In", "Login", "Users")</li>
                            }
                        </ul>
                        <div style="float: right;">
                            <p style="color:white; font-size:25px; padding-top:5px; ">
                                @if (@Session["UserName"] != null)
                                {
                                    @Html.Label("Welcome") @:&nbsp   @Session["UserName"].ToString()
                                }
                            </p>
                        </div>
                    </div>  
            
                    </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            </body>
</html>
